:root {
  --primary: rgb(235, 113, 0);
  --secondary: rgb(0, 121, 158);
  --gutter: 3%;
  --reverse-gutter: -3%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Aspira Webfont', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

@font-face {
  font-family: 'Aspira Webfont';
  src: local('Aspira Regular'),
    url('https://c.cheggcdn.com/f/woff2/30B57C_60_0.woff2') format('woff2'),
    url('https://c.cheggcdn.com/f/woff/30B57C_60_0.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
} /*!sc*/
@font-face {
  font-family: 'Aspira Webfont';
  src: local('Aspira Medium'),
    url('https://c.cheggcdn.com/f/woff2/30B57C_5D_0.woff2') format('woff2'),
    url('https://c.cheggcdn.com/f/woff/30B57C_5D_0.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
} /*!sc*/
@font-face {
  font-family: 'Aspira Webfont';
  src: local('Aspira Bold'),
    url('https://c.cheggcdn.com/f/woff2/30B57C_52_0.woff2') format('woff2'),
    url('https://c.cheggcdn.com/f/woff/30B57C_52_0.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
} /*!sc*/
@font-face {
  font-family: 'Aspira Webfont';
  src: local('Aspira Heavy'),
    url('https://c.cheggcdn.com/f/woff2/30B57C_57_0.woff2') format('woff2'),
    url('https://c.cheggcdn.com/f/woff/30B57C_57_0.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
} /*!sc*/

a {
  color: var(--secondary);
  text-decoration: none;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

main {
  text-align: center;
  margin: 0 var(--gutter);
}

main > section {
  margin: 3em 0;
}

main > section.bleed {
  margin-left: var(--reverse-gutter);
  margin-right: var(--reverse-gutter);
}

main > section:first-of-type {
  margin-top: 1.5em;
}

header {
  text-align: center;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav a {
  margin: 0.5em 1em;
  font-weight: 500;
  color: #000;
}

header > a {
  margin: 0.5em;
  display: block;
}

section a.cta {
  display: flex;
  line-height: 1.5em;
  justify-content: center;
}

section a.cta > img {
  transform: rotate(270deg);
}

.hero img {
  margin-bottom: 2.5em;
  display: block;
}

.hero .overline {
  font-weight: 700;
}

.button {
  background-color: var(--primary);
  display: inline-block;
  color: white;
  padding: 0.4em 1em;
  margin: 0.5em;
  font-weight: 700;
  font-size: 1.2em;
  border-radius: 1em;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  margin: 0.5em;
}

.h2 {
  font-size: 2em;
}

.h6 {
  font-size: 1em;
}

.card {
  border: 1px solid #000;
  margin: 1em 0;
  padding-bottom: 1em;
}

.rounded {
  border-radius: 1em;
  overflow: hidden;
}

.card.noborder {
  border-width: 0;
}

.card img {
  max-width: 100%;
}

.card > img:first-of-type {
  margin: 0;
}

.card > * {
  margin: 0.5em 1em;
}

footer {
  text-align: center;
  margin: 2em;
}

@media (min-width: 900px) {
  :root {
    font-size: 20px;
  }
  main > section {
    display: flex;
    align-items: center;
  }
  .hero img {
    width: 50%;
    margin-bottom: 0;
  }
  .hero .body {
    padding: 0 10%;
    text-align: left;
    flex-grow: 1;
  }
  .hero .body > * {
    margin-left: 0;
  }
  .hero.textonly {
    text-align: center;
    display: block;
  }
  .cards {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 2em 0;
  }
  .card {
    margin: 1em;
    flex: 1 1 300px;
  }
}
